{% extends 'base.html.twig' %}

{% block title %}Création du compte{% endblock %}

{% block body %}
<div class="container">
    {{ form_start(form) }}
        <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
        <h1 class="text-center">Créé ton profil de surfeur</h1>

        {{ form_row(form.waterman.lastname) }}

            {{ form_row(form.waterman.firstname) }}

            {{ form_row(form.email) }}

            {{ form_row(form.password) }}
        </div>
            <div class="col-3"></div>
        </div>

        <div class="row">
             <div class="col text-center">
             <input class="btn btn-lg btn-primary mt-4" type="submit">
             </div>
         </div>
    {{ form_end(form) }}
</div>
{% endblock %}
