{% extends 'base.html.twig' %}

{% block title %}Villes favorites - SurferApp{% endblock %}

{% block body %}
    <div class="container">
        <h2>Villes favorites</h2>

        {{ form_start(form, {'action': path('fav_city_post')}) }}
            <div class="m-3">{{ form_widget(form.label) }}</div>
            <input type="submit" class="btn btn-primary">
        {{ form_end(form) }}

        <ul class="m-5">
            {% for fav in favs %}
                <li class="m-2">
                    {{ fav.label }}
                    <a class="btn btn-danger" href="{{ path('fav_city_delete', {'fav': fav.id}) }}"><i class="fas fa-trash-alt"></i></a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
